<span class="button-checkbox" id={{time_id}}>
  <button type="button" class="btn" onclick={{action 'click_checkbox'}}>
    <i class="state-icon glyphicon glyphicon-unchecked"></i>
    <span>I can't</span>
  </button>
  <input type="checkbox" class="hidden" onchange={{action 'change_checkbox'}}/>
</span>

