<div class='c-section'>
  <div class='c-section__full'>
    <span class='c-title'>Connect to your Facebook Account.</span>
    <span class="c-button" onclick={{action 'login'}}>Login</span>
  </div>
</div>
