<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="eventModalLabel">Create new event</h4>
      </div>
      <div class="modal-body">
        <form id="newEvent">
          <fieldset>
            <input id="event-name" placeholder="Event's name" type="text" tabindex="1" required autofocus>
          </fieldset>
          <fieldset>
            <textarea id="date-area" placeholder="Set your desired dates and options" tabindex="2" required readonly></textarea>
            <div class="btn-group-vertical" role="group">
              <button type="button" id="add-date-btn" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
              </button>
              <button type="button" id="clear-date-btn" class="btn btn-danger">
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
              </button>
            </div>
          </fieldset>
          <fieldset>
            <textarea id="desc-area" placeholder="Type event's description here...." tabindex="3" required></textarea>
          </fieldset>
        </form>
        <div id="error-msg" class="alert alert-danger" role="alert">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" id="new-event-submit" class="btn btn-primary" onclick={{action 'submit_form'}}>Create</button>
      </div>
    </div>
  </div>
</div>
