<div class="ui small modal">
  <div class="header">Tell me your name.</div>
  <div class="content">
    <div class="ui left icon input">
      {{input value=name}}
      <i class="user icon"></i>
    </div>
    <div class="ui hidden error message"></div>
  </div>
  <div class="actions">
    <button class="ui blue right labeled icon button" {{action 'set_user_name' name}}>
    <i class="checkmark icon"></i>
      OK
    </button>
  </div>
</div>
