<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container">
    <div class="navbar-header page-scroll">
      <a class="navbar-brand" href="#page-top">Gathering Dates</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li id="my-account" class="dropdown hidden">
          <a class="dropdown-toggle" type="button" href="#" data-toggle="dropdown">
            My Account<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">New Event</a></li>
            <li><a href="#">My Events</a></li>
            <li class="divider"></li>
            <li><a href="#">Log out</a></li>
          </ul>
        </li>
        <li id="login-btn" class="page-scroll hidden">
          <a class="btn btn-info" role="button" onclick={{action 'FBLogin'}}> Log in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{outlet}}
<footer class="text-center">
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          Made by <a href='https://github.com/sullivanLi'>Sullivan Li</a> &
          Pictures from <a href="http://www.freepik.com">Freepik</a>
        </div>
      </div>
    </div>
  </div>
</footer>
