<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12"><br/></div>
    </div>
    <div class="row">
    {{#each model as |event|}}
      <div class="col-md-4 portfolio-item">
        <div class="portfolio-link">
          <div class="caption">
            <div class="caption-content">
              {{#link-to 'event' event class='caption-link'}}
                <i class="fa fa-search fa-3x"></i>
              {{/link-to}}
              <a class="caption-link">
                <i class="fa fa-edit fa-3x"></i>
              </a>
              <a class="caption-link">
                <i class="fa fa-trash fa-3x" onclick={{action 'delete_event' event}}></i>
              </a>
            </div>
          </div>
          <div class="portfolio-content">
            <span>
              <h3>{{event.name_slice}}</h3>
              {{event.desc_slice}}
            </span>
          </div>
        </div>
      </div>
    {{/each}}
    </div>
  </div>
</section>

<div id="deleteModal" class="modal fade" role='dialog'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete Event</h4>
      </div>
      <div class="modal-body">
        <p>Do You Really Want to Delete <span id="eventName" class="font-blue"></span> ?</p>
        <div id="delete-error-msg" class="alert alert-danger" role="alert"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
      </div>
    </div>
  </div>
</div>
