<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12"><br/></div>
    </div>
    <div class="row">
    {{#each model as |event|}}
      <div class="col-md-4 portfolio-item">
        <div class="portfolio-link">
          <div class="caption">
            <div class="caption-content">
              {{#link-to 'event' event class='caption-link'}}
                <i class="fa fa-search fa-3x"></i>
              {{/link-to}}
              <a class="caption-link">
                <i class="fa fa-edit fa-3x"></i>
              </a>
              <a class="caption-link">
                <i class="fa fa-trash fa-3x"></i>
              </a>
            </div>
          </div>
          <div class="portfolio-content">
            <span>
              <h3>{{event.name_slice}}</h3>
              {{event.desc_slice}}
            </span>
          </div>
        </div>
      </div>
    {{/each}}
    </div>
  </div>
</section>
