<section class="success">
  <div class="container">
    <div class="row">
      <div class="col-lg-12"><br/></div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-primary">
          <div class="panel-heading text-center"><h3>{{model.name}}</h3></div>
          <div class="panel-body">
            <span class="content">
              {{model.description}}
            </span>
            {{#each model.times as |time|}}
              <hr class="light">
              <div class="content">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                {{time.date_str}}
                <span class="float-right">
                  <span class="visible-md visible-lg">Available</span>
                  <input type="checkbox">
                </span>
              </div><br>
              <div class="content">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span class="badge badge-notify">0</span>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
