<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <img class="img-responsive img-circle" src="assets/images/friends-boys.jpg" alt="">
      </div>
      <div class="col-xs-4">
        <img class="img-responsive img-circle" src="assets/images/friends-car.jpg" alt="">
      </div>
      <div class="col-xs-4">
        <img class="img-responsive img-circle" src="assets/images/friends-girls.jpg" alt="">
      </div>  
      <div class="col-xs-12">
        <span class="name">Hang Out Together</span>
        <hr class="star-light">
        <span class="content">
          Friends - Activity - Coffee - Gossip - Dinner - Party - Beer - Fun
        </span>
      </div>
    </div>
  </div>
</header>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>ABOUT</h2>
        <hr class="star-primary">
        <span class="content">
          <highlight>Gathering Dates</highlight> is a simple application to schedule a date 
          <br>
          which is suitable for the most of your firends.
        </span> 
        <hr class="simple">
      </div>
      <div class="col-md-6">
        <img class="img-responsive img-thumbnail center-block" src="assets/images/dates-demo.jpg" alt="">
      </div>
      <div class="col-md-6">
        <div class="content">
          <ul class="liststyle">
            <li>
              <h3 class="font-blue">Create an event</h3>
              <p>create an activity and edit its description.</p>
            </li>
            <li>
              <h3 class="font-blue">Share the URL</h3>
              <p>copy this activity URL and send to your friends.</p>
            </li>
            <li>
              <h3 class="font-blue">Click the dates</h3>
              <p>everyone visit this activity page and click these dates that you are free.</p>
            </li>
            <li>
              <h3 class="font-blue">Enjoy the party</h3>
              <p>see the result and select the best date to have a party.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
